---
import { Image } from "astro:assets";
import Main from "../layouts/Main.astro";
import stephAndKids from "../assets/stephAndKids.png";
import potterDavieFam from "../assets/potterDavieFamily.png";
import stephanieCoffee from "../assets/stephCoffee.png";
import Button from "../components/Button.astro";
import { INQUIRE_LINK } from "../data/links";
import SectionHeader from "../components/SectionHeader.astro";
import Card from "../components/Card.astro";
import ExternalLink from "../components/ExternalLink.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
let mobileLayout = "flex flex-col justify-start items-start";
let desktopLayout = "md:grid md:grid-cols-2 md:grid-rows-12 md:m-4";

let aboutContent = (await getCollection("aboutContent"))[0];
let { Content } = await render(aboutContent);
---

<style is:global>
  article.about p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
</style>
<Main title="Magnolia Coasts | Toronto and GTA Photographer">
  <article
    class={`about w-screen font-cormorant-garamond bg-[var(--section-bg-color)] flex flex-col justify-start items-center`}
  >
    <SectionHeader title="Photographer" />
    <Card classes={`${mobileLayout} ${desktopLayout} gap-4 max-w-[1000px]`}>
      <div class="col-span-1 col-start-1 row-span-4 row-start-1 py-2">
        <Image src={stephAndKids} alt="Stephanie and the kids." priority />
      </div>
      <div
        class="col-span-1 col-start-2 row-span-11 row-start-1 md:mx-4 md:text-base lg:text-lg"
      >
        <Content />
      </div>
      <div class="col-span-1 col-start-1 row-span-4 row-start-5 py-2">
        <Image src={potterDavieFam} alt="Potter-Davie family." />
      </div>
      <div class="col-span-1 col-start-1 row-span-4 row-start-9 py-2">
        <Image src={stephanieCoffee} alt="Stephanie and coffee." />
      </div>

      <Button
        color="Pink"
        classes="md:text-lg lg:text-xl md:justify-self-center self-center col-start-2 col-span-1 row-start-12 max-w-[300px]"
      >
        <ExternalLink
          class="flex h-[24px] h-full w-full items-center justify-center"
          href={INQUIRE_LINK}>Book With Stephanie</ExternalLink
        >
      </Button>
    </Card>
  </article>
</Main>
