---
import Main from "../layouts/Main.astro";
import Welcome from "../components/Welcome.astro";
import { Image } from "astro:assets";
import SpecialMoments from "../components/SpecialMoments.astro";
import TestimonialCard from "../components/TestimonialCard.astro";
import TestimonialCarousel from "../components/TestimonialCarousel.astro";
import erikaFam from "../assets/ErikaMcNabb.png";
import nitryaStudios from "../assets/NitryaStudios.avif";
import tisha from "../assets/Tisha.avif";
import NewsLetter from "../components/Newsletter.astro";
import ArtInYourHome from "../components/ArtInYourHome.astro";
import HeroSection from "../components/HeroSection.astro";
let testimony1 =
  "Working with Stephanie was one of the best decisions we ever made! Her easy and friendly manner, professionalism and attention to detail made for a memorable and enjoyable experience. We absolutely love our family photos! Thank you, Stephanie, for capturing beautiful moments that will now become lasting memories.";
let testimony2 =
  "Steph is Best baby photographer in town hands down... She was so accommodating and very gentle and thoughtful  handling my 10 days old baby. When we arrived at the studio she was waiting for us at the door and greeted us (very welcoming)...during the entire photoshoot she was patient and cool. Next day only we got our first 5 pictures so we could share it with our family....";
let testimony3 =
  "Stephanie is an extraordinary photographer! She is SO SO good with babies and kids that the photo session seems like a breeze. She takes beautiful and amazing photos. We have been going back to her for 5 years now and we have loved every single sessions and photos. Highly recommended💕";
---

<Main
  title="Magnolia Coast Photography | Toronto & Mississauga Family Photography"
>
  <HeroSection />
  <Welcome />
  <SpecialMoments />
  <ArtInYourHome />
  <TestimonialCarousel count={3}>
    <TestimonialCard
      slot="testimonial-1"
      title="Erika McNabb"
      date="November 2023"
      testimony={testimony1}
    >
      <Image
        class="h-[100%] w-auto rounded-md object-cover object-center"
        slot="image"
        src={erikaFam}
        alt="Erika family."
        layout="full-width"
        width="276"
        height="431"
        widths={[152, 280]}
      />
    </TestimonialCard>
    <TestimonialCard
      slot="testimonial-2"
      title="Nritya Bhumi Studio"
      date="August 2023"
      testimony={testimony2}
    >
      <Image
        class="h-[100%] w-auto rounded-md object-cover object-center"
        slot="image"
        src={nitryaStudios}
        alt="Baby laughing."
        layout="full-width"
        width="276"
        height="431"
        widths={[152, 280]}
      />
    </TestimonialCard>
    <TestimonialCard
      slot="testimonial-3"
      title="Tisha McNama"
      date="May 2024"
      testimony={testimony3}
    >
      <Image
        class="h-[100%] w-auto rounded-md object-cover object-center"
        layout="full-width"
        slot="image"
        src={tisha}
        width="276"
        height="431"
        alt="Baby pointing."
        widths={[152, 280]}
      />
    </TestimonialCard>
  </TestimonialCarousel>
  <NewsLetter />
</Main>
