---
export interface Props {
  color: 'Pink' | 'Mint';
  classes?: string,
}

const { color, classes } = Astro.props;

const getClassMod = (color: Props['color']) => {
  if (color === 'Pink') return 'bg-pink';
  if (color === 'Mint') return 'bg-mint border border-[#8DA5A3]';
  return '';
};
const buttonDisplay = "flex justify-center justify-items-stretch items-stretch"
const animation = "transition-all hover:scale-102 focus:scale-102 hover:shadow-md focus:shadow-md"
const dimensions = "w-full max-w-[200px] px-[2rem] py-[0.5rem] rounded-lg"
const text = "text-black text-nowrap"
---

<button
  class={`cursor-pointer ${animation} ${dimensions} ${text} ${buttonDisplay} ${getClassMod(color)} ${classes || ""}`}
>
  <slot />
</button>
