---
import { INQUIRE_LINK } from "../data/links";
import Card from "./Card.astro";
import Button from "./Button.astro";
import InvestmentHeader from "./InvestmentHeader.astro";

export interface Props {
  title: string;
  detailsCollection: Record<string, Record<string, Array<string>>>;
  price: number;
  priceDetails: string[];
  photoCount: number;
}
let { title, detailsCollection, price, priceDetails, photoCount } = Astro.props;

let desktopColumns = photoCount;
let tabletColumns = photoCount;
if (photoCount == 1) {
  desktopColumns = 3;
  tabletColumns = 3;
}
let mobileDisplay = "grid grid-cols-1 gap-4";
let tabletDisplay = `md:grid-cols-${tabletColumns}`;
let desktopDisplay = `lg:max-w-[1000px] lg:grid-cols-${desktopColumns}`;
let spanAllCols = `md:col-span-${tabletColumns} lg:col-span-${desktopColumns}`;
let _load =
  "lg:col-span-2 lg:col-span-3 lg:col-span-4 md:col-span-2 md:col-span-3 md:col-span-4 md:grid-cols-2 md:grid-cols-3 md:grid-cols-4 md:col-span-4 lg:grid-cols-2 lg:grid-cols-3 lg:grid-cols-4";
---

<style>
  li::marker {
    color: var(--color-pink);
  }
  img {
    max-width: 400px;
    max-height: 420px;
  }
</style>
<Card
  test_id={title}
  classes={`card w-full max-w-[1000px] m-2 ${mobileDisplay} ${tabletDisplay} ${desktopDisplay}`}
>
  <InvestmentHeader title={title} classes={spanAllCols} />
  <slot />
  {
    Object.entries(detailsCollection).map(([key, section]) => (
      <div class="font-cormorant-garamond my-2 flex list-inside list-disc flex-col items-start justify-start font-semibold">
        <div class="text-xl">
          {key} <h3 class="pl-2 text-base font-light">{section.metadata[0]}</h3>
        </div>
        <ul class="font-cormorant-garamond my-2 flex list-inside list-disc flex-col items-start justify-start">
          {section.details.map((detail: string) => (
            <li class="my-[0.25rem] align-middle text-lg font-light">
              {detail}
            </li>
          ))}
          {section.metadata[1] && (
            <span class="my-[0.25rem] align-middle text-base text-sm font-light">
              {section.metadata[1]}
            </span>
          )}
        </ul>
      </div>
    ))
  }
  <div class={`mt-auto flex justify-between items-center h-[62px] ${spanAllCols}`}>
    <div
      class="font-cormorant-garamond class flex flex-col items-start pl-2 text-xl font-bold"
    >
      ${price} + Tax
      {priceDetails.map((detail) => <span class="font-light">{detail}</span>)}
    </div>
    <Button color="Pink" classes="max-w-[150px] w-4/10 h-3/4 ">
      <a
        href={INQUIRE_LINK}
        target="_blank"
        class="font-cormorant-garamond flex w-full items-center justify-center"
        >Inquire</a
      >
    </Button>
  </div>
</Card>
