---
import { INQUIRE_LINK } from "../data/links";
import ExternalLink from "./ExternalLink.astro";

let textClasses =
  "text-[#392C2C] font-cormorant-garamond text-black lg:text-2xl md:text-lg text-sm";
let dimensionClasses = "md:w-[200px] md:h-[78px] w-[100px]";
let displayClasss = "flex justify-center items-center";
let positionClasses =
  "absolute bottom-0 lg:-translate-y-40 md:-translate-y-20 -translate-y-10";
let animationClasses =
  "transition-all hover:scale-102 focus:scale-102 hover:shadow-md focus:shadow-md";
let aestheticClasses = "cursor-pointer rounded-3xl bg-pink p-4 px-6";
---

<div
  class="relative flex justify-center bg-gradient-to-r from-[rgb(237,232,220)] to-[rgb(211,208,194)]"
>
  <div class="flex w-full max-w-[1800px] items-center justify-center">
    <picture>
      <source
        srcset="/HeroImage.414w.webp"
        media="(max-width: 414px)"
        type="image/webp"
      />
      <source
        srcset="/HeroImage.600w.webp"
        media="(max-width: 600px)"
        type="image/webp"
      />
      <source
        srcset="/HeroImage.900w.webp"
        media="(max-width: 900px)"
        type="image/webp"
      />
      <source
        srcset="/HeroImage.1200w.webp"
        media="(max-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="/HeroImage.1800w.webp"
        media="(max-width: 1800px)"
        type="image/webp"
      />
      <img
        src="/HeroImage.1800w.webp"
        alt="Hero Image"
        width="1800"
        height="861"
        fetchpriority="high"
      />
    </picture>
  </div>
  <ExternalLink
    role="button"
    class={`${textClasses} ${dimensionClasses} ${displayClasss} ${positionClasses} ${animationClasses} ${aestheticClasses}`}
    href={INQUIRE_LINK}>Inquire</ExternalLink
  >
</div>
