---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import newsletter from "../assets/Newsletter.png";
import SectionTitle from "./SectionTitle.astro";
import Card from "./Card.astro";
import { SUBSCRIBE_LINK } from "../data/links";
let mobileDisplay = "flex justify-center items-center";
let desktopDisplay = "md:grid grid-cols-5 grid-rows-6 gap-4";
let dimensions = "p-3 md:max-w-[750px] w-full mx-4";
---

<div class="flex justify-center py-4">
  <Card classes={`${mobileDisplay} ${desktopDisplay} ${dimensions}`}>
    <div
      class="relative col-span-2 col-start-1 row-span-6 row-start-1 sm:row-span-6"
    >
      <div
        class="font-dancing absolute top-5 right-5 left-5 flex items-center justify-center rounded-lg bg-[#fafafa]/50 p-2 text-2xl"
      >
        Get notified with latest promotions and news!
      </div>
      <Image
        style="content-visibility: auto;"
        class="h-[100%] w-auto rounded-md object-cover object-center"
        src={newsletter}
        alt="Photo of woman on a laptop."
      />
    </div>

    <div
      class="font-cormorant-garamond align-start col-span-3 col-start-3 row-span-2 row-start-3 flex flex-col justify-start text-sm sm:justify-around sm:text-base md:text-lg"
    >
      <SectionTitle title="Subscribe To Our Newsletter" />
      <Button color="Mint" classes="self-center">
        <a
          href={SUBSCRIBE_LINK}
          target="_blank"
          class="font-cormorant-garamond flex h-full w-full items-center justify-center"
          >Subscribe</a
        >
      </Button>
    </div>
  </Card>
</div>
