---
export interface Props {
  title: string;
  classes?: string;
}
const { title, classes } = Astro.props;
const dimensionsMobile = "h-full w-[40vw]";
const dimensionsDesktop = "md:h-[100px] md:w-full";
const text =
  "font-cormorant-garamond text-xl sm:text-2xl md:text-3xl lg:text-5xl text-black text-nowrap";
const layout = "flex justify-center items-center";
---

<h1
  class={`py-4 ${dimensionsMobile} ${dimensionsDesktop} ${text} ${layout} ${classes || ""}`}
>
  {title}
</h1>
