---
import specialMoment1 from "../assets/special_moments/maternity.jpg";
import specialMoment2 from "../assets/special_moments/newborn.jpg";
import specialMoment3 from "../assets/special_moments/family.jpg";
import specialMoment4 from "../assets/special_moments/cake_smash.jpg";

import SpecialMoment from "./SpecialMoment.astro";
import Button from "./Button.astro";
import SectionTitle from "./SectionTitle.astro";
import { BASE_URL } from "../data/links";
import { Image } from "astro:assets";
---

<div
  class="font-cormorant-garamond m-4 grid max-w-[1439px] grid-cols-2 gap-4 self-center md:grid-cols-4"
>
  <SectionTitle
    title="What special moments would you like to capture?"
    classStyles="col-span-full"
  />
  <SpecialMoment
    link={`${BASE_URL}/investment/maternity`}
    buttonText="Maternity"
  >
    <Image
      class="h-[100%] w-auto object-cover object-center"
      src={specialMoment1}
      alt="Pregnant Woman"
      widths={[150, 208]}
    />
  </SpecialMoment>
  <SpecialMoment link={`${BASE_URL}/investment/newborn`} buttonText="Newborn">
    <Image
      class="h-[100%] w-auto object-cover object-center"
      src={specialMoment2}
      alt="Baby in a sling."
      widths={[150, 208]}
    />
  </SpecialMoment>
  <SpecialMoment link={`${BASE_URL}/investment/family`} buttonText="Family">
    <Image
      class="h-[100%] w-auto object-cover object-center"
      src={specialMoment3}
      alt="Family by the road."
      widths={[150, 208]}
    />
  </SpecialMoment>
  <SpecialMoment
    link={`${BASE_URL}/investment/newborn`}
    buttonText="Cake Smashes"
  >
    <Image
      class="h-[100%] w-auto object-cover object-center"
      src={specialMoment4}
      alt="Family by the road."
    />
  </SpecialMoment>
</div>
<div
  class="font-cormorant-garamond m-4 mt-2 mb-[30px] grid w-[90vw] max-w-[880px] grid-cols-2 gap-4 self-center sm:grid-cols-4"
>
  <SectionTitle
    title="Other types of photo sessions"
    classStyles="col-span-full mt-0 mb-0"
  />

  <Button data_id="special-moment-milestones" color="Mint" classes="mx-auto">
    <a
      class="flex h-full w-full items-center justify-center"
      href={`${BASE_URL}/investment/milestone`}>Milestones</a
    >
  </Button>

  <Button data_id="special-moment-children" color="Mint" classes="mx-auto">
    <a
      class="flex h-full w-full items-center justify-center"
      href={`${BASE_URL}/investment/milestone`}>Children</a
    >
  </Button>

  <Button data_id="special-moment-branding" color="Mint" classes="mx-auto">
    <a
      class="flex h-full w-full items-center justify-center"
      href={`${BASE_URL}/investment/headshot`}>Branding</a
    >
  </Button>

  <Button data_id="special-moment-headshots" color="Mint" classes="mx-auto">
    <a
      class="flex h-full w-full items-center justify-center"
      href={`${BASE_URL}/investment/headshot`}>Headshots</a
    >
  </Button>
</div>
