---
import prego from '../assets/PregnantWoman.png'
import famJam from '../assets/FamilyByRoad.png'
import babySling from '../assets/BabyInSling.png'
import cakeSmash from '../assets/BabyBDayCake.png'
import SpecialMoment from './SpecialMoment.astro'
import Button from './Button.astro'
import SectionTitle from './SectionTitle.astro'
import { BASE_URL } from '../data/links'
---
<div class="self-center m-4 grid grid-cols-2 md:grid-cols-4 gap-4 font-cormorant-garamond max-w-[1439px]">
  <SectionTitle title="What special moments would you like to capture?" classStyles="col-span-full" />
  <SpecialMoment link={`${BASE_URL}/investment/maternity`} src={prego} alt="Pregnant woman." buttonText="Maternity"/>
  <SpecialMoment link={`${BASE_URL}/investment/newborn`} src={babySling} alt="Baby in a sling." buttonText="Newborn"/>
  <SpecialMoment link={`${BASE_URL}/investment`} src={famJam} alt="Family by the road." buttonText="Family"/>
  <SpecialMoment link={`${BASE_URL}/investment`} src={cakeSmash} alt="Baby with a birthday cake." buttonText="Cake Smashes"/>
</div>
<div class="self-center m-4 grid grid-cols-2 sm:grid-cols-4 gap-4 font-cormorant-garamond max-w-[880px]">
  <SectionTitle title="Other types of photo sessions" classStyles="col-span-full" />
  <a href={`${BASE_URL}/investment/milestone`}>
    <Button color="Mint" variant="Default" text="Milestones"/>
  </a>
  <Button color="Mint" variant="Default" text="Children"/>
  <Button color="Mint" variant="Default" text="Branding"/>
  <Button color="Mint" variant="Default" text="Headshots"/>
</div>