---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import businessData from "../data/localBusinessProfile.json";

import cormorantGaramondRegular from "../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Regular.ttf";
import cormorantGaramondBold from "../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Bold.ttf";
import cormorantGaramondSemibold from "../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-SemiBold.ttf";
import cormorantGaramondLight from "../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Light.ttf";
import dancingRegular from "../assets/fonts/Dancing_Script/static/DancingScript-Regular.ttf";

import heroImage from "../assets/HeroImage.png";
import { getImage } from "astro:assets";
import WelcomeBackground from "../assets/WelcomeBackground.png";
const optimizedBackground = await getImage({src: WelcomeBackground, format: 'avif'})

import { BASE_URL } from "../data/links";
import logo from "../assets/Logo.png"

const { title } = Astro.props;

const localBusinessProfile = JSON.stringify(businessData);
const websiteUrl = "https://magnoliacoastsphotography.com/";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{title}</title>
    <meta
      name="description"
      content="Toronto-based photographer specializing in family, newborn, maternity, headshots, and milestone photography. Capture authentic moments with a personalized, stress-free experience. Book now!"
    />
    <meta name="author" content="Magnolia Coasts" />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <!-- Preload Cormorant Garamond fonts for FOUC prevention -->
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={cormorantGaramondRegular}
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={cormorantGaramondBold}
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={cormorantGaramondSemibold}
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={cormorantGaramondLight}
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={dancingRegular}
    />

    <!-- Preload the LCP image with a high fetchpriority so it starts loading with the stylesheet. -->
    <!-- <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href={heroImage.src}
      type="image/png"
    /> -->
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href={optimizedBackground.src}
      type="image/avif"
    />

    <link rel="icon" href={`${BASE_URL}/${logo.src}`} type="image/png" />
    <script type="application/ld+json" set:html={localBusinessProfile} />
    <meta name="email" content="info@magnoliacoastsphotography.com" />
    <link rel="canonical" href={websiteUrl} />

    <!-- Open Graph Meta Tags -->
    <meta
      property="og:image"
      content={`${websiteUrl}${logo.src}`}
    />
    <meta
      property="article:publisher"
      content="https://www.facebook.com/magnoliacoastsphotography/"
    />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Toronto Family & Newborn Photographer | Magnolia Coasts Photography"
    />
    <meta
      property="og:description"
      content="Toronto-based photographer capturing family, newborn, maternity, headshots, and milestone moments with a natural, timeless style. Book your session today!"
    />
    <meta property="og:url" content={websiteUrl} />
    <meta property="og:site_name" content="Magnolia Coasts Photography" />
    <meta property="og:image" content={`${websiteUrl}${heroImage.src}`} />
    <meta property="og:image:width" content="3840" />
    <meta property="og:image:height" content="1838" />
    <meta property="og:image:type" content="image/png" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="Magnolia Coasts Photography. Family, newborn, and portrait photography in Toronto, Mississauga, and the GTA."
    />
    <meta
      name="twitter:image"
      content={`${websiteUrl}${logo.src}`}
    />

    <meta
      name="keywords"
      content="Toronto family photographer, newborn photography Toronto, maternity photographer, headshots Toronto, milestone photography, branding photography, family portraits GTA"
    />
  </head>
  <body
    class="bg-default relative flex min-h-dvh w-screen flex-col items-stretch justify-start"
  >
    <Nav />
    <main
      class="bg-default flex min-h-dvh w-screen flex-col items-stretch justify-start"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
