---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import businessData from "../data/localBusinessProfile.json";

import cormorantGaramondRegular from "../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Regular.ttf";
import cormorantGaramondBold from "../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Bold.ttf";
import cormorantGaramondSemibold from "../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-SemiBold.ttf";
import cormorantGaramondLight from "../assets/fonts/Cormorant_Garamond/static/CormorantGaramond-Light.ttf";
import dancingRegular from "../assets/fonts/Dancing_Script/static/DancingScript-Regular.ttf";

import { getImage } from "astro:assets";
import WelcomeBackground from "../assets/WelcomeBackground.jpg";
const optimizedBackground = await getImage({
  src: WelcomeBackground,
  format: "avif",
});

import logo from "../assets/Logo.png";
import appleIcon from "../assets/AppleIcon.png";
import Banner from "../components/Banner.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";

const { title } = Astro.props;

const localBusinessProfile = JSON.stringify(businessData);
const websiteUrl = "https://magnoliacoastsphotography.com";
const canonicalUrl = new URL(Astro.url.pathname, websiteUrl).href;

// Breadcrumb structured data
import { buildBreadcrumbSchema } from "../utils/breadcrumbs.res.mjs";

const breadcrumbSchema = buildBreadcrumbSchema(Astro.url.pathname, websiteUrl);
---

<html lang="en">
  <head>
    <GoogleAnalytics />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{title}</title>
    <meta
      name="description"
      content="Toronto-based photographer capturing family, newborn, maternity, headshots, and milestone moments with a natural, timeless style. Book your session today!"
    />
    <meta name="author" content="Magnolia Coasts" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Preload Cormorant Garamond fonts for FOUC prevention -->
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={cormorantGaramondRegular}
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={cormorantGaramondBold}
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={cormorantGaramondSemibold}
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={cormorantGaramondLight}
    />
    <link
      rel="preload"
      as="font"
      type="font/ttf"
      crossorigin
      href={dancingRegular}
    />

    <!-- Preload the LCP image with a high fetchpriority so it starts loading with the stylesheet. -->
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/HeroImage.414w.webp"
      type="image/webp"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href={optimizedBackground.src}
      type="image/avif"
    />

    <link rel="icon" href={`${logo.src}`} type="image/png" />
    <link rel="apple-touch-icon" href={`${appleIcon.src}`} />
    <script type="application/ld+json" set:html={localBusinessProfile} />
    {breadcrumbSchema && <script type="application/ld+json" set:html={breadcrumbSchema} />}
    <meta name="email" content="info@magnoliacoastsphotography.com" />
    <link rel="canonical" href={canonicalUrl} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:image" content={`${websiteUrl}${logo.src}`} />
    <meta
      property="article:publisher"
      content="https://www.facebook.com/magnoliacoastsphotography/"
    />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Toronto Family & Newborn Photographer | Magnolia Coasts Photography"
    />
    <meta
      property="og:description"
      content="Toronto-based photographer capturing family, newborn, maternity, headshots, and milestone moments with a natural, timeless style. Book your session today!"
    />
    <meta property="og:url" content={websiteUrl} />
    <meta property="og:site_name" content="Magnolia Coasts Photography" />
    <meta property="og:image" content={`${websiteUrl}HeroImage.414w.webp`} />
    <meta property="og:image:width" content="3840" />
    <meta property="og:image:height" content="1838" />
    <meta property="og:image:type" content="image/png" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="Magnolia Coasts Photography. Family, newborn, and portrait photography in Toronto, Mississauga, and the GTA."
    />
    <meta name="twitter:image" content={`${websiteUrl}${logo.src}`} />

    <meta
      name="keywords"
      content="Toronto family photographer, newborn photography Toronto, maternity photographer, headshots Toronto, milestone photography, branding photography, family portraits GTA"
    />
  </head>
  <body
    class="bg-default relative flex min-h-dvh w-screen flex-col items-stretch justify-start"
  >
    <Banner />
    <Nav />
    <main
      class="bg-default flex min-h-dvh w-screen flex-col items-stretch justify-start"
    >
      <Breadcrumbs />
      <slot />
    </main>
    <Footer />
  </body>
</html>
